<!DOCTYPE html>
<html>
<head>
  <title>Details</title>
</head>
<body>
<div class="container-fluid">
  <div class="main">
    <h1 class="page-header">Details</h1>
    <div class="row">
      <div class="text-center">
        <h4 ng-show="model.listing.name">{{model.listing.name}}</h4>
      </div>
      <div class="col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2">
        <h4 ng-show="model.listing.locations"></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-4">
        <img ng-src="{{model.listing.images.large}}" class="img-responsive">
      </div>
      <div class="col-sm-6 col-xs-6">
        <h5>Located in {{model.listing.location}}, {{model.listing.locations[0].region}}<br>
          {{model.listing.locations[0].streetAddress}}<br>
          {{model.listing.locations[0].phone}}</h5>
        <h5>Description:</h5>
        <p ng-show="model.listing.pets">{{model.listing.description}}</p>
        <p ng-show="model.listing.details">Details: {{model.listing.details}}</p>
        <p ng-show="model.listing.utilities">Established: {{model.listing.established}}</p>
        <img ng-show="model.listing.image" ng-src="{{model.listing.image}}"/>
      </div>
      <div ng-show="currentUser" class="col-sm-2 col-xs-2">
        <button class="btn btn-primary"
                ng-click="model.favorite(model.data)">
          <span ng-show="!model.favorited">Favorite</span>
          <span ng-show="model.favorited">Favorited</span>
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>