<!DOCTYPE html>
<html>
<head>
  <title>Details</title>
</head>
<body>
<div class="container-fluid">
  <div class="main">
    <h1 class="page-header">Details</h1>
    <div class="row">
      <div class="text-center">
        <h4 ng-show="model.listing.name">{{model.listing.name}}</h4>
      </div>
      <div class="col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2">
        <h4 ng-show="model.listing.locations"></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-4">
        <img ng-src="{{model.listing.images.large}}" class="img-responsive">
      </div>
      <div class="col-sm-6 col-xs-6">
        <h5>Located in {{model.listing.locations[0].locality}}, {{model.listing.locations[0].region}}<br>
          {{model.listing.locations[0].streetAddress}}<br>
          {{model.listing.locations[0].phone}}</h5>
        <h5>Description:</h5>
        <p ng-show="model.listing.description">{{model.listing.description}}</p>
        <p ng-show="model.listing.locations">Hours of Operation: {{model.listing.locations[0].hoursOfOperation}}</p>
        <p ng-show="model.listing.established">Established: {{model.listing.established}}</p>
        <a ng-show="model.listing.website" href="{{model.listing.website}}">{{model.listing.website}}</a><br>
        <a ng-show="model.listing.socialAccounts" href="{{model.listing.socialAccounts[0].link}}">{{model.listing.socialAccounts[0].link}}</a>
      </div>
      <div ng-show="currentUser" class="col-sm-2 col-xs-2">
        <button class="btn btn-primary"
                ng-click="model.favorite(model.data)">
          <span ng-show="!model.favorited">Favorite</span>
          <span ng-show="model.favorited">Favorited</span>
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>