<!DOCTYPE html>
<html>
<head>
  <title>Details</title>
</head>
<body>
<div class="container-fluid">
  <div class="main">
    <h1 class="page-header">Listing Details</h1>
    <div class="row">
      <div class="text-center">
        <h4 ng-show="model.listing.name">{{model.listing.address}}</h4>
      </div>
      <div class="col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2">
        <h4 ng-show="model.listing"></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-4">
        <img ng-src="{{model.listing.images.large}}" class="img-responsive">
      </div>
      <div class="col-sm-6 col-xs-6">
        <h5>Located in {{model.listing.location}}<br>
          Address: {{model.listing.address}}<br>
          Contact: {{model.listing.contact}}</h5>
        <h5>Description:</h5>
        <p ng-show="model.listing.rent">Monthly Rent: {{model.listing.rent}}</p>
        <p ng-show="model.listing.bedrooms">Number of Bedrooms: {{model.listing.bedrooms}}</p>
        <p ng-show="model.listing.pets">Pets: {{model.listing.pets}}</p>
        <p ng-show="model.listing.details">Details: {{model.listing.details}}</p>
        <p ng-show="model.listing.utilities">Utilities Included: {{model.listing.utilities}}</p>
        <img ng-show="model.listing.image" ng-src="{{model.listing.image}}"/>
      </div>
    </div>
  </div>
</div>
</body>
</html>