
<h1 class="page-header">Welcome!</h1>
 <div class="col-md-9">

     <div class="row carousel-holder">

         <div class="col-md-12">
             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                     <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                 </ol>
                 <div class="carousel-inner">
                     <div class="item active">
                         <img class="slide-image" src="../../css/images/800x300/dining_room-800x300.gif" alt="">
                     </div>
                     <div class="item">
                         <img class="slide-image" src="../../css/images/800x300/complex_800x300.jpg" alt="">
                     </div>
                     <div class="item">
                         <img class="slide-image" src="../../css/images/800x300/back_deck-800x300.jpg" alt="">
                     </div>
                     <div class="item">
                         <img class="slide-image" src="../../css/images/800x300/cobblestone_800x300.jpg" alt="">
                     </div>
                 </div>
                 <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                     <span class="glyphicon glyphicon-chevron-left"></span>
                 </a>
                 <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                 </a>
             </div>
         </div>

     </div>

     <div class="row">

         <div class="col-sm-4 col-lg-4 col-md-4">
             <div class="thumbnail">
                 <img src="../../css/images/320x150/complex_320x150.jpg" alt="">
                 <div class="caption">
                     <h4 class="pull-right">$1200/mo</h4>
                     <h4><a href="#">New Apts!!!</a>
                     </h4>
                     <p>Brand new complex just minutes from downtown!</p>
                 </div>
                 <div class="ratings">
                     <p class="pull-right">15 reviews</p>
                     <p>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                     </p>
                 </div>
             </div>
         </div>

         <div class="col-sm-4 col-lg-4 col-md-4">
             <div class="thumbnail">
                 <img src="../../css/images/320x150/Indoor_apt_320x150.jpg" alt="">
                 <div class="caption">
                     <h4 class="pull-right">$1400</h4>
                     <h4><a href="#">Spacious 2 Bedroom</a>
                     </h4>
                     <p>You will fall in love with this place!</p>
                 </div>
                 <div class="ratings">
                     <p class="pull-right">12 reviews</p>
                     <p>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </p>
                 </div>
             </div>
         </div>

         <div class="col-sm-4 col-lg-4 col-md-4">
             <div class="thumbnail">
                 <img src="../../css/images/320x150/kitchen_320x150.jpg" alt="">
                 <div class="caption">
                     <h4 class="pull-right">$1600</h4>
                     <h4><a href="#">1 Bedroom/Studio</a>
                     </h4>
                     <p>Epic Bachelor(ett) Pad</p>
                 </div>
                 <div class="ratings">
                     <p class="pull-right">31 reviews</p>
                     <p>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </p>
                 </div>
             </div>
         </div>

         <div class="col-sm-4 col-lg-4 col-md-4">
             <div class="thumbnail">
                 <img src="../../css/images/320x150/modern_320x150.jpg" alt="">
                 <div class="caption">
                     <h4 class="pull-right">$6200</h4>
                     <h4><a href="#">Modern 5 Bedroom</a>
                     </h4>
                     <p>Perfect for young professionals.</p>
                 </div>
                 <div class="ratings">
                     <p class="pull-right">6 reviews</p>
                     <p>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </p>
                 </div>
             </div>
         </div>

         <div class="col-sm-4 col-lg-4 col-md-4">
             <div class="thumbnail">
                 <img src="../../css/images/320x150/suburb_320x150.jpg" alt="">
                 <div class="caption">
                     <h4 class="pull-right">$3000</h4>
                     <h4><a href="#">4 Bedroom</a>
                     </h4>
                     <p>Affordable house ideal for college students with easy parking. Near major highways, easy commute to campus</p>
                 </div>
                 <div class="ratings">
                     <p class="pull-right">18 reviews</p>
                     <p>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </p>
                 </div>
             </div>
         </div>

         <div class="col-sm-4 col-lg-4 col-md-4">
             <h4><a href="#">Want more options?</a>
             </h4>
             <p>Contact us for more info! <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">24 hour service</a> We always have a professional realtor at your service!</p>
             <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">Call us today!</a>
         </div>
     </div>
 </div>

